@import"mixinsDesktop";
@import"variables";
@media (min-width: 500px) and (max-width: 1023px) {

    #proposito{
        @include padding;
        padding: {
            top:100px;
        }
    
        & .proposito__titulo{
            @include textoTitulosDesktop;
        }
    
        & .proposito__texto{
            @include textoArticuloDesktop;
        }
    }


    #introduccion{
        @include padding;
        padding: {
            top: $paddingTop;
        }
            
        & .introduccion__titulo{
            @include textoTitulosDesktop;
        }
    
        & .introduccion__texto{
            @include textoArticuloDesktop;
            padding: {
                top:$paddingTop;
                bottom:15px;
            }
        }
    }


      div{
        .navbar-nav{
            & .menuColor{
                @include textoMenuDesktop;
            }
        }    
    } 

    .fuera{
        @include textoArticuloDesktop;
        @include padding;
        }

    
        .style{
            max-width:550px; 
            max-height:180px;
            overflow: auto;
    }

    #piePagina{
        width: 100%;
        @include textoMenuDesktop;
        text-align: $alineacionTexto;
        
    }
    
 
 }