@import"mixinsDesktop";
@import"variables";
@media (min-width: 767px) and (max-width: 1023px) {

    #proposito{
        @include padding;
        padding: {
            top:100px;
        }
    
        & .proposito__titulo{
            @include textoTitulosDesktop;
        }
    
        & .proposito__texto{
            @include textoArticuloDesktop;
        }
    }


    #introduccion{
        @include padding;
        padding: {
            top: $paddingTop;
        }
            
        & .introduccion__titulo{
            @include textoTitulosDesktop;
        }
    
        & .introduccion__texto{
            @include textoArticuloDesktop;
            padding: {
                top:$paddingTop;
                bottom:15px;
            }
        }
    }


      div{
        .navbar-nav{
            & .menuColor{
                @include textoMenuDesktop;
            }
        }    
    } 

    .fuera{
        @include textoArticuloDesktop;
        @include padding;
        }

    #piePagina{
        width: 100%;
        @include textoMenuDesktop;
        text-align: $alineacionTexto;
        
    }
    
 }

 @media (min-width: 426px) and (max-width: 766.9px){
    .style{
        max-width:200px; 
        max-height:200px;
        overflow: auto;
}
 }