@import"mixinsDesktop";
@import"variables";
@media (min-width: 767px) and (max-width: 1023px) {

    #proposito{
        @include padding;
        padding: {
            top:100px;
        }
    
        & .proposito__titulo{
            @include textoTitulosDesktop;
        }
    
        & .proposito__texto{
            @include textoArticuloDesktop;
        }
    }


    #introduccion{
        @include padding;
        padding: {
            top: $paddingTop;
        }
            
        & .introduccion__titulo{
            @include textoTitulosDesktop;
        }
    
        & .introduccion__texto{
            @include textoArticuloDesktop;
            padding: {
                top:$paddingTop;
                bottom:15px;
            }
        }
    }


      div{
        .navbar-nav{
            & .menuColor{
                @include textoMenuDesktop;
            }
        }    
    } 

    .fuera{
        @include textoArticuloDesktop;
        @include padding;
        }

    #piePagina{
        width: 100%;
        @include textoMenuDesktop;
        text-align: $alineacionTexto;
        
    }
    .style{
        max-height:330px;
        overflow: auto;
    }

    .formulario{
        font-family: $letra, cursive;
        color: map-get($map: $colores, $key:letra);
        font-size: 75%;
    }

 }

 @media (min-width: 426px) and (max-width: 767px){
    .style{
        max-width:280px; 
        max-height:265px;
        overflow: auto;
    }   

    .formulario{
        font-family: $letra, cursive;
        color: map-get($map: $colores, $key:letra);
        font-size: 75%;
    }
 }