@import"mixinsMobile";
@import"variables";
@media (min-width: 250px) and (max-width: 425px) {

    #proposito{
        @include padding;
        padding: {
            top:100px;
        }
    
        & .proposito__titulo{
            @include textoTitulosMobile;
        }
    
        & .proposito__texto{
            @include textoArticuloMobile;
        }
    }


    #introduccion{
        @include padding;
        padding: {
            top: $paddingTop;
        }
            
        & .introduccion__titulo{
            @include textoTitulosMobile;
        }
    
        & .introduccion__texto{
            @include textoArticuloMobile;
            padding: {
                top:$paddingTop;
                bottom:15px;
            }
        }
    }

      div{
        .navbar-nav{
            & .menuColor{
                @include textoMenuMobile;
            }
        }    
    } 

    .fuera{
        @include textoArticuloMobile;
        @include padding;
        }

     
    .style{
            max-width:280px; 
            max-height:330px;
            overflow: auto;
    }

    #piePagina{
        margin: 15px auto;
        width: 75%;
        @include textoMenuMobile;
        text-align: $alineacionTexto;
    } 

    .icon {
        color: white;
        text-decoration: none;
        padding: .3rem;
        display: flex;
        transition: all .5s;
    }

    .cuadro{
        width:300px; 
        height:250px;    
    }

    .pelicula{
        & .titulo__pelicula{
            @include textoTitulosMobile;
        }
    }

    .formulario{
        font-family: $letra, cursive;
        color: map-get($map: $colores, $key:letra);
        font-size: 0.5rem;
    }
 }