$letra:'Roboto Medium 500',cursive;
$paddingTop:5px;
$paddingLeft:10%;
$paddingRight:10%;
$alineacionTexto:center;
$interlineado:35px;
$interlineadoMobile:22px;
$interlineadoDesktop:35px;

$alturaLetra:(
    menu:22px,
    titulo:38px,
    texto:22px,
);

$colores:(
    letra: white,
    titulo:#E8DF15,
    menuYfooter:#FFD817,
    menuHover:#038C8C
);


$alturaLetraMobile:(
    menu:12px,
    titulo:26px,
    texto:12px,
);

$alturaLetraDesktop:(
    menu:22px,
    titulo:30px,
    texto:22px,
);