* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

/* reset */
#body {
  background-image: url(../imagen/fondoPatron.png);
}

div.superposicion {
  z-index: 99;
}

div nav.menu {
  background-image: url(../imagen/fondoPatron.png);
}

div .navbar-nav .menuColor {
  color: #FFD817;
  font-family: "Calligraffitti", cursive;
  font-size: 25px;
}

div .navbar-nav .menuColor:hover {
  background-color: #038C8C;
  -webkit-animation: bounce 2s ease-in .2ms;
          animation: bounce 2s ease-in .2ms;
}

#proposito {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 95px;
}

#proposito .proposito__titulo {
  color: #E8DF15;
  font-family: "Calligraffitti", cursive;
  font-size: 100px;
  text-align: center;
  line-height: 1.5;
}

#proposito .proposito__texto {
  font-family: "Calligraffitti", cursive;
  font-size: 35px;
  color: white;
  text-align: center;
  line-height: 1.5;
}

#introduccion {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5px;
}

#introduccion .introduccion__titulo {
  color: #E8DF15;
  font-family: "Calligraffitti", cursive;
  font-size: 100px;
  text-align: center;
  line-height: 1.5;
}

#introduccion .introduccion__texto {
  font-family: "Calligraffitti", cursive;
  font-size: 35px;
  color: white;
  text-align: center;
  line-height: 1.5;
  padding-top: 5px;
  padding-bottom: 15px;
}

.fuera {
  font-family: "Calligraffitti", cursive;
  font-size: 35px;
  color: white;
  text-align: center;
  line-height: 1.5;
  padding-left: 10%;
  padding-right: 10%;
}

.titulo_pelicula {
  color: #E8DF15;
  font-family: "Calligraffitti", cursive;
  font-size: 100px;
  text-align: center;
  line-height: 1.5;
}

div.pelicula {
  width: 500px;
  margin: 15px auto;
  display: inline;
}

div.pelicula iframe {
  width: 560px;
  margin: 15px 25%;
}

.ventana {
  width: 60%;
}

.video {
  width: 500px;
  margin: 15px auto;
}

.cuadro {
  width: 500px;
  height: 500px;
}

.fondo {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(grey));
  background: linear-gradient(black, grey);
  overflow: auto;
}

.style {
  max-width: 75%;
  max-height: 400px;
}

div.texto {
  font-family: "Calligraffitti", cursive;
  font-size: 35px;
  color: white;
  text-align: center;
  line-height: 1.5;
}

#redes {
  margin-top: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#redes :hover {
  -webkit-animation: flip;
          animation: flip;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#piePagina {
  width: 100%;
  margin: 0px auto;
  padding-top: 15px;
  padding-right: auto;
  padding-bottom: 15px;
  padding-left: auto;
  color: #FFD817;
  font-family: "Calligraffitti", cursive;
  font-size: 25px;
  text-align: center;
}

#piePagina:hover {
  -webkit-animation: zoomIn 2s ease-in .2ms;
          animation: zoomIn 2s ease-in .2ms;
  font-size: 35px;
}

.color {
  color: #E8DF15;
}
/*# sourceMappingURL=style.css.map */