*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
} /* reset */

@import"mixinsMobile";
@import"variables";
@import"mixins";

#body{
    background-image: url(../imagen/fondoPatron.png);
}
    
   div{
    &.superposicion{
        z-index: 99;
    }
    nav{
        &.menu{
            background-image: url(../imagen/fondoPatron.png);
        }
    }
}

div{
    .navbar-nav{
        & .menuColor{
            @include textoMenu;
            &:hover{
                background-color:map-get($map: $colores, $key:menuHover);
                animation: pulse 2s ease-in .2ms;
            }
        }
    }  
}

#proposito{
    @include padding;
    padding: {
        top:100px;
    }

    & .proposito__titulo{
        @include textoTitulos;
    }

    & .proposito__texto{
        @include textoArticulo;
    }
}

#introduccion{
    @include padding;
    padding: {
        top: $paddingTop;
    }
        
    & .introduccion__titulo{
        @include textoTitulos;
    }

    & .introduccion__texto{
        @include textoArticulo;
        padding: {
            top:$paddingTop;
            bottom:20px;
        }
    }
}

.pelicula{
    margin: {
        top:30px;
        bottom:30px;
    }
    & hr {
            width: 75%;
            margin: 15px auto;        
            border: 5px solid #737375c5;
            border-radius: 200px /8px;
          }
    & .titulo__pelicula{
        @include textoTitulos;
    }
}

.fuera{
    @include textoArticulo;
    @include padding;
    }

    .titulo_pelicula{
        @include textoTitulos;
    }


.ventana{
    width: 75%;
    margin: 15px auto;
}

.cuadro{
        width: 500px;
        height: 500px;
}

.fondo{
    background-image: url(../imagen/fondoPatron2.png);
}

.style{
        max-width:75%; 
        max-height:322px;
        overflow:auto;
}

.posicion{
    position:sticky;
    top: 0;
}

#piePagina{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    @include textoMenu;
    text-align: $alineacionTexto;
}

.formulario{
    font-family: $letra, cursive;
    color: map-get($map: $colores, $key:letra);
}

.color{
    color: map-get($map: $colores, $key: titulo);
}

.tarjeta{
    color: white;
    font-family: $letra;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
}


@import"redes";
@import"desktop";
@import"mobile";

