* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

/* reset */
#body {
  background-image: url("../imagen/fondo2.jpg");
  background-attachment: fixed;
}

nav.menu {
  background-image: url("../imagen/fondo2.jpg");
}

.gradientes {
  font-family: "Calligraffitti", cursive;
  font-size: 25px;
  background: -webkit-linear-gradient(violet, skyblue);
  background-clip: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientes:hover {
  -webkit-animation: bounce 2s ease-in .2ms;
          animation: bounce 2s ease-in .2ms;
}

#proposito {
  padding-top: 95px;
  padding-left: 10%;
  padding-right: 10%;
}

#proposito .proposito__titulo {
  font-family: "Calligraffitti", cursive;
  font-size: 60px;
  text-align: center;
  background: -webkit-linear-gradient(black, violet, rgba(209, 17, 91, 0.829));
  background-clip: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#proposito .proposito__texto {
  font-family: "Calligraffitti", cursive;
  font-size: 35px;
  color: white;
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: center;
  line-height: 1.5;
}

#introduccion {
  padding-top: 5px;
  padding-left: 10%;
  padding-right: 10%;
}

#introduccion .introduccion__titulo {
  font-family: "Calligraffitti", cursive;
  font-size: 60px;
  text-align: center;
  line-height: 1.5;
  background: -webkit-linear-gradient(black, violet, rgba(209, 17, 91, 0.829));
  background-clip: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#introduccion .introduccion__texto {
  font-family: "Calligraffitti", cursive;
  font-size: 35px;
  color: white;
  padding-top: 5px;
  padding-bottom: 30px;
  text-align: center;
  line-height: 1.5;
}

.fuera {
  font-family: "Calligraffitti", cursive;
  font-size: 35px;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  text-align: center;
  line-height: 1.5;
}

.titulo_pelicula {
  font-size: 60px;
  text-align: center;
  line-height: 1.5;
  background: -webkit-linear-gradient(black, violet, rgba(209, 17, 91, 0.829));
  background-clip: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.pelicula {
  width: 500px;
  margin: 15px auto;
  display: inline;
}

div.pelicula iframe {
  width: 560px;
  margin: 15px 25%;
}

.ventana {
  width: 60%;
}

.video {
  width: 500px;
  margin: 15px auto;
}

.cuadro {
  width: 500px;
  height: 500px;
}

.fondo {
  background: linear-gradient(black, grey);
  overflow: auto;
}

.style {
  max-width: 75%;
  max-height: 400px;
}

div.texto {
  font-family: "Calligraffitti", cursive;
  font-size: 20px;
  text-align: center;
  color: white;
}

#redes {
  margin-top: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#redes :hover {
  -webkit-animation: flip;
          animation: flip;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#piePagina {
  width: 100%;
  margin: 0px auto;
  padding-top: 15px;
  padding-right: auto;
  padding-bottom: 15px;
  padding-left: auto;
  font-family: "Calligraffitti";
  font-size: 20px;
  text-align: center;
  background: -webkit-linear-gradient(violet, skyblue);
  background-clip: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#piePagina:hover {
  -webkit-animation: zoomIn 2s ease-in .2ms;
          animation: zoomIn 2s ease-in .2ms;
  font-size: 35px;
}

@media (min-width: 424px) and (max-width: 768px) {
  #menu {
    background-image: url("../imagen/fondo2.jpg");
    margin: auto;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
  }
  #proposito {
    margin: 0px 5%;
    padding: 0px auto;
  }
  #proposito .proposito__titulo {
    text-align: center;
    font-size: 55px;
    margin-bottom: 10px;
  }
  .proposito__texto {
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
  }
  #introduccion {
    margin: 0px 5%;
    padding: 0px auto;
  }
  #introduccion .introduccion__titulo {
    text-align: center;
    font-size: 55px;
    margin-bottom: 10px;
  }
  #introduccion .introduccion__texto {
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
  }
  .disco__texto {
    overflow: hidden;
  }
  #piePagina:hover {
    animation: zoomIn 2s ease-in .2ms;
    width: 75%;
    font-size: 30px;
  }
  .cuadro {
    width: 400px;
    height: 200px;
  }
  .fuera {
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
  }
  .ventana {
    width: 100%;
  }
  .formulario {
    width: 100%;
    height: auto;
    box-sizing: content-box;
  }
  .fondo {
    overflow: scroll;
  }
  .style {
    height: 280px;
  }
}
/*# sourceMappingURL=style.css.map */