*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
} /* reset */

$letra:'Calligraffitti';
$paddingTop:5px;
$paddingLeft:10%;
$paddingRight:10%;
$alineacionTexto:center;
$interlineado:1.5;

$alturaLetra:(
    menu:25px,
    titulo:100px,
    texto:35px,
);

$colores:(
    letra: white,
    titulo:#E8DF15,
    menuYfooter:#FFD817,
    menuHover:#038C8C
);

@mixin padding {
    padding-left: $paddingLeft;
    padding-right: $paddingRight;   
}

@mixin modificadorTexto {
    text-align: $alineacionTexto; 
    line-height: $interlineado;
}

@mixin textoMenu {
    color: map-get($map: $colores, $key:menuYfooter);
    font: {
        family: $letra, cursive;
        size: map-get($map: $alturaLetra, $key:menu);
    }
}

@mixin textoTitulos {
    color: map-get($map: $colores, $key:titulo); 
        font: {
            family: $letra, cursive;
            size: map-get($map: $alturaLetra, $key:titulo);   
        }     
        text-align: $alineacionTexto;
        line-height: $interlineado;
}

@mixin textoArticulo {
    font: {
        family: $letra, cursive;
        size:map-get($map: $alturaLetra, $key:texto);
    }
    color: map-get($map: $colores, $key:letra );
    @include modificadorTexto;    
}

#body{
    background-image: url(../imagen/fondoPatron.png);
}
    
   div{
    &.superposicion{
        z-index: 99;
    }
    nav{
        &.menu{
            background-image: url(../imagen/fondoPatron.png);

        }
    }
}

div{
    .navbar-nav{
        & .menuColor{
            @include textoMenu;
            &:hover{
                background-color:map-get($map: $colores, $key:menuHover);
                animation: bounce 2s ease-in .2ms;
            }
        }
    }  
}

#proposito{
    @include padding;
    padding: {
        top:95px;
    }

    & .proposito__titulo{
        @include textoTitulos;
    }

    & .proposito__texto{
        @include textoArticulo;
    }
}

#introduccion{
    @include padding;
    padding: {
        top: $paddingTop;
    }
        
    & .introduccion__titulo{
        @include textoTitulos;
    }

    & .introduccion__texto{
        @include textoArticulo;
        padding: {
            top:$paddingTop;
            bottom:15px;
        }
    }
}

.fuera{
    @include textoArticulo;
    @include padding;
    }

    .titulo_pelicula{
        @include textoTitulos;
    }

    div{
        &.pelicula{
            width: 500px;
            margin: 15px auto;
            display: inline;
        
            iframe{
                width: 560px;
                margin: 15px 25%;
            }      
        }
    }

.ventana{
    width: 60%;
}

.video{
    width: 500px;
    margin: 15px auto;
}

.cuadro{
        width: 500px;
        height: 500px;
}

.fondo{
        background: linear-gradient(black,grey);
        overflow:auto;
}

.style{
        max-width:75%; 
        max-height:400px;
}

div{
    &.texto{
        @include textoArticulo;
    }
}

#redes{
    margin: {
        top: 30px;
        bottom: 30px;
    }
    display: flex;
    justify-content: space-evenly;

    & :hover{
        animation: flip;
        animation-duration: 1s;
    }
}

#piePagina{
    width: 100%;
    margin: 0px auto;
    padding: {
        top: 15px;
        right: auto;
        bottom: 15px;
        left: auto;
    }
    @include textoMenu;
    text-align: $alineacionTexto;
    
    &:hover{
        animation: zoomIn 2s ease-in .2ms;
        font-size: map-get($map: $alturaLetra, $key: texto);
    }
}


.color{
    color: map-get($map: $colores, $key: titulo);
}

// @media (min-width: 424px) and (max-width: 768px) {

//     nav{
//         &.menu{
//             background-image: url("../imagen/fondo2.jpg");
//         }
//     }
//     #proposito{
//         margin: 0px 5%;
//         padding: 0px auto;
    
//         & .proposito__titulo {
//             font: {
//                 family: $letra, cursive;
//                 size: 55px;
//             }
//             text-align: $alineacionTexto;
//             margin-bottom: 10px;
//         }      
//             .proposito__texto{
//                 font: {
//                     family: $letra, cursive;
//                     size:$alturaLetraTexto;
//                 }
//                 text-align: $alineacionTexto;
//                 line-height: $interlineado;
//                 font-size: 20px;
//             }
//     }

//     #introduccion{
//     margin: 0px 5%;
//     padding: 0px auto;
    
//         & .introduccion__titulo{
//             font: {
//                 family: $letra, cursive;
//                 size: 55px;
//             }     
//             text-align: $alineacionTexto;
//             margin-bottom: 10px;
//         }

//         & .introduccion__texto{
//             font: {
//                 family: $letra, cursive;
//                 size: 50px;
//             }
//             text-align: center;
//             line-height: 1.5;
//         }
//     }        


//         .disco__texto{
//             overflow: hidden;
//         }

//         #piePagina:hover{
//             animation: zoomIn 2s ease-in .2ms;
//             width: 75%;
//             font-size: 30px;
//         }

//         .cuadro{
//             width: 400px;
//              height: 200px;
//         }

//         .fuera{
//             text-align: center;
//             line-height: 1.5;
//             font-size: 20px;
//             }

//             .ventana{
//                 width: 100%;
               
//             }

//             .formulario {
//                 width: 100%;
//                 height: auto;
//                 box-sizing:content-box;
//             }

//             .fondo{
//                 overflow:scroll;
//             }

//             .style{
//                 height: 280px;
//             }

            
// }